
@{
    ViewBag.Title = "Index";
}
<br/>
<br/>
<div class="text-center">

    <p> We're going to have a party! </p>

    <img src="~/Content/hqdefault.jpg" />

    <br />
    <p> and you're invited... </p>
    <div class="btn btn-success">
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</div>