@model Invitation.Models.Class1

@{
    ViewBag.Title = "Thanks";
}

@{ 
    try
    {
        WebMail.SmtpServer = "smtp.gmail.com";
        WebMail.SmtpPort = 587;
        WebMail.EnableSsl = true;
        WebMail.UserName = "aurelijazuba@gmail.com";
        WebMail.Password = "****";
        WebMail.From = "rsvp@example.com";

        WebMail.Send("aurelijazuba@gmail.com", "RSVP notification",
            Model.Name + " is " + ((Model.WillAttend ?? false) ? "" : "not") + " attending ");
    }
    catch (Exception)
    {
        <b> Sorry, we couldn't send the email to confirm the RSVP. </b>
    }
}
<div class="text-center">
    <h2>Thank you, @Model.Name </h2>

    <div class="lead">
        @if (Model.WillAttend == true)
        {
            @:It's great that you're coming. The drinks are in the fridge.
}
        else
        {
            @:I'm sorry you can't make it.
}
    </div>
</div>